<div class="container py-4">
  <div mat-dialog-action>
    <button style="margin-bottom: 3px;" (click)="openDialogAddBook()" mat-raised-button color="primary" >Ajouter un livre</button>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="card border-0  card-tab mb-5 bg-white ">
        <div class="card-header bg-gradient-primary pb-0">
          <h6 class="text-white text-uppercase font-weight-bold">Liste des livres</h6>
        </div>
        <div class="card-body px-0 pt-0 pb-2">
          <div class="table-responsive p-0">
            <table class="table align-items-center mb-0">
              <thead>
                <tr>
                  <th class="text-uppercase text-secondary text-xs font-weight-bolder ">Identifiant</th>
                  <th class="text-uppercase text-secondary text-xs font-weight-bolder ps-2">Titre</th>
                  <th class="text-uppercase text-secondary text-xs font-weight-bolder ps-2">Auteur</th>
                  <th class="text-uppercase text-secondary text-xs font-weight-bolder ps-2">Catégorie</th>
                  <th class="text-uppercase text-secondary text-xs font-weight-bolder ps-2">Resumé</th>
                  <th class="text-secondary opacity-3"></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let book of booklist">
                  <td>
                      Numéro-{{book.id}}
                  </td>
                  <td>
                    <p class=" font-weight-bold mb-0">{{book.bookTitle}}</p>
                  </td>
                  <td>
                    <p class=" font-weight-bold mb-0">{{book.bookAuthor}}</p>
                  </td>
                  <td>
                    <p class=" font-weight-bold mb-0">{{book.bookCategory}}</p>
                  </td>
                  <td>
                    <p class=" font-weight-bold mb-0">{{book.bookContent}}</p>
                  </td>
                  <td class="align-middle ">
                    <div mat-dialog-action>
                      <button mat-raised-button color="inf" (click)="openDialogEditBook(book)">Edit</button>
                      <button style="margin-left: 3px;" mat-raised-button color="warn" (click)="deleteBook(book.id)" >Delete</button>
                    </div>
                  </td>
                </tr>
                
              </tbody>
              
            </table>
          </div>
        </div>
        <div class="card-header bg-gradient-primary pb-0">
          <h6 class="text-white font-weight-bold">Footer</h6>
        </div>
      </div>
    </div>
  </div>
</div>