.example-spacer {
    flex: 1 1 auto;
  }

.navbar-vertical .navbar-nav .nav-item.active {
    font-weight: 600;
    /* box-shadow: 0 20px 27px 0 rgb(0 0 0 / 5%); */
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 
    0px 2px 2px 0px rgb(0 0 0 / 14%), 
    0px 1px 5px 0px rgb(0 0 0 / 12%);
    border-radius: 0.5rem;
    background: rgb(99, 190, 233);
}

.navbar-vertical .navbar-nav .nav-item {
  display: flex;
  align-items: center;
  white-space: nowrap;
}
